.activeBar {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none !important;
  :hover {
    text-decoration: none !important;
  }
}
.inActiveBar {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none !important;
  :hover {
    text-decoration: none !important;
  }
}
.active-div {
  background-color: rgba(255, 255, 255, 0.19) !important;
}
