.authButton {
  border: 1px solid #f05b5d;
  box-sizing: border-box;
  border-radius: 4px;
  color: #f05b5d;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  background-color: transparent;
}
.loginButton {
  background: #f05b5d;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  height: 50px;
}
