.searchBox {
  width: 100%;

  img {
    position: relative;
    left: -87%;
  }
  .searchInput {
    background: #e9e9e9;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 35px;
    // width: 230px;
    //   padding: 0px 0px 30px 0px;
    padding: 0px 20px 0px 50px;
  }
}
.userName {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #353a3d;
}
.notificationBadge {
  position: absolute;
  height: 20px;
  width: 20px;
  transform: translate(61%, -46%);
  border-radius: 50%;
  padding: 1px 5px;
  background-color: #eb5757;
}
